<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/rourke_struthers/Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/1b/29/185269dbd2e2698c8098b35c52ce73a2c52cf76163e709f9f7789d03ebbb/Quandl-3.5.2-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.5.2

In [2]:
pip install plotly-express

Collecting plotly-express
  Downloading https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.18.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.0.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.4.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->plotly-express) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly-express) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly-express) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.1.0->plotly-express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [3]:
# PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import quandl

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# API Key
quandl.ApiConfig.api_key = 'db1wD3BsXUWh1FzuYCNQ'

In [5]:
# # Getting tables from Quandl
# data = quandl.get_table('ZILLOW/DATA', 
#                         indicator_id=['Z1BR', 'Z2BR', 'Z3BR', 'Z4BR', 'Z5BR'], 
#                         region_id='54720')


data = quandl.get_table('ZILLOW/DATA', region_id='54720', paginate=True)
indicators = quandl.get_table('ZILLOW/INDICATORS', paginate=True)
regions = quandl.get_table('ZILLOW/REGIONS', paginate=True)

In [6]:
data.to_csv('albany_data.csv')
indicators.to_csv('zillow_indicator_data.csv')
regions.to_csv('zillow_regions_data.csv')

In [7]:
## Reading in the CSVs
data = pd.read_csv('albany_data.csv')
indicators = pd.read_csv('zillow_indicator_data.csv')
regions = pd.read_csv('zillow_regions_data.csv')

In [8]:
print(data.shape)
data.head()

(1267, 5)

   None indicator_id  region_id        date     value
0     0         ZSFH      54720  2020-07-31  107974.0
1     1         ZSFH      54720  2020-06-30  107587.0
2     2         ZSFH      54720  2020-05-31  107089.0
3     3         ZSFH      54720  2020-04-30  107268.0
4     4         ZSFH      54720  2020-03-31  106962.0

### Indicators:
ZALL; ZHVI All Homes (SFR, Condo/Co-op) Time Series ($); Home values

SSSW; Median Sale Price (Smooth, SFR only, Weekly View);	Inventory and sales

SSSM;	Median Sale Price (Smooth, SFR only, Monthly);	Inventory and sales

SRSW;	Median Sale Price (Raw, SFR only, Weekly View);	Inventory and sales

SRSM;	Median Sale Price (Raw, SFR only, Monthly);	Inventory and sales

SASW;	Median Sale Price (Smooth & Seasonally Adjuste...);	Inventory and sales

SASM;	Median Sale Price (Smooth & Seasonally Adjuste...);	Inventory and sales

SAAW;	Median Sale Price (Smooth & Seasonally Adjuste...);	Inventory and sales

SAAM;	Median Sale Price (Smooth & Seasonally Adjuste...);	Inventory and sales

RSSA;	ZORI (Smoothed, Seasonally Adjusted): All Home...);	Rentals

RSNA;	ZORI (Smoothed): All Homes Plus Multifamily Ti...);	Rentals

LSSW;	Median List Price (Smooth, SFR Only, Weekly View);	Inventory and sales

LSSM;	Median List Price (Smooth, SFR Only, Monthly);	Inventory and sales

LRSW;	Median List Price (Raw, SFR Only, Weekly View);	Inventory and sales

LRSM;	Median List Price (Raw, SFR Only, Monthly);	Inventory and sales

CSSW;	Share of Listings With a Price Cut (Smooth, SF...);	Inventory and sales

CSSM;	Share of Listings With a Price Cut (Smooth, SF...);	Inventory and sales

CRSW;	Share of Listings With a Price Cut (Raw, SFR O...);	Inventory and sales

CRSM;	Share of Listings With a Price Cut (Raw, SFR O...);	Inventory and sales

In [ ]:
indicator_id = ['ZSFH','ZALL','SSSW','SSSM','SRSW','SRSM','SASW','SASM', 
                'SAAW','SAAM','RSSA','RSNA','LSSW','LSSM','LRSW','LRSM', 
                'CSSW','CSSM','CRSV','CRSM']

In [9]:
print(indicators.shape)
indicators

(56, 4)

    None  ...             category
0      0  ...          Home values
1      1  ...          Home values
2      2  ...          Home values
3      3  ...          Home values
4      4  ...          Home values
5      5  ...          Home values
6      6  ...          Home values
7      7  ...          Home values
8      8  ...          Home values
9      9  ...          Home values
10    10  ...  Inventory and sales
11    11  ...  Inventory and sales
12    12  ...  Inventory and sales
13    13  ...  Inventory and sales
14    14  ...  Inventory and sales
15    15  ...  Inventory and sales
16    16  ...  Inventory and sales
17    17  ...  Inventory and sales
18    18  ...  Inventory and sales
19    19  ...  Inventory and sales
20    20  ...  Inventory and sales
21    21  ...  Inventory and sales
22    22  ...              Rentals
23    23  ...              Rentals
24    24  ...  Inventory and sales
25    25  ...  Inventory and sales
26    26  ...  Inventory and sales
27    27  ...  Inventory and sales
28    28  ...  Inventory and sales
29    29  ...  Inventory and sales
30    30  ...  Inventory and sales
31    31  ...  Inventory and sales
32    32  ...  Inventory and sales
33    33  ...  Inventory and sales
34    34  ...  Inventory and sales
35    35  ...  Inventory and sales
36    36  ...  Inventory and sales
37    37  ...  Inventory and sales
38    38  ...  Inventory and sales
39    39  ...  Inventory and sales
40    40  ...  Inventory and sales
41    41  ...  Inventory and sales
42    42  ...  Inventory and sales
43    43  ...  Inventory and sales
44    44  ...  Inventory and sales
45    45  ...  Inventory and sales
46    46  ...  Inventory and sales
47    47  ...  Inventory and sales
48    48  ...  Inventory and sales
49    49  ...  Inventory and sales
50    50  ...  Inventory and sales
51    51  ...  Inventory and sales
52    52  ...  Inventory and sales
53    53  ...  Inventory and sales
54    54  ...  Inventory and sales
55    55  ...  Inventory and sales

[56 rows x 4 columns]

In [10]:
print(data['indicator_id'].value_counts())
print('---')
print(data['indicator_id'].value_counts(normalize=True))

ZABT    151
Z4BR    151
Z5BR    151
ZATT    151
Z2BR    151
ZALL    130
Z3BR    130
ZSFH    130
Z1BR    122
Name: indicator_id, dtype: int64
---
ZABT    0.119179
Z4BR    0.119179
Z5BR    0.119179
ZATT    0.119179
Z2BR    0.119179
ZALL    0.102605
Z3BR    0.102605
ZSFH    0.102605
Z1BR    0.096290
Name: indicator_id, dtype: float64

In [11]:
print("Category Distribution:")
print(indicators['category'].value_counts())
print("---")
print("Category Distribution Normalized:")
print(indicators['category'].value_counts(normalize=True))

Category Distribution:
Inventory and sales    44
Home values            10
Rentals                 2
Name: category, dtype: int64
---
Category Distribution Normalized:
Inventory and sales    0.785714
Home values            0.178571
Rentals                0.035714
Name: category, dtype: float64

In [12]:
indicators.columns

Index(['None', 'indicator_id', 'indicator', 'category'], dtype='object')

In [13]:
indicators_pt = pd.pivot(indicators, columns='category', index='indicator_id')

In [14]:
indicators_pt

                    None  ...                                          indicator
category     Home values  ...                                            Rentals
indicator_id              ...
CRAM                 NaN  ...                                                NaN
CRAW                 NaN  ...                                                NaN
CRSM                 NaN  ...                                                NaN
CRSW                 NaN  ...                                                NaN
CSAM                 NaN  ...                                                NaN
CSAW                 NaN  ...                                                NaN
CSSM                 NaN  ...                                                NaN
CSSW                 NaN  ...                                                NaN
IRAM                 NaN  ...                                                NaN
IRAW                 NaN  ...                                                NaN
IRSM                 NaN  ...                                                NaN
IRSW                 NaN  ...                                                NaN
ISAM                 NaN  ...                                                NaN
ISAW                 NaN  ...                                                NaN
ISSM                 NaN  ...                                                NaN
ISSW                 NaN  ...                                                NaN
LRAM                 NaN  ...                                                NaN
LRAW                 NaN  ...                                                NaN
LRSM                 NaN  ...                                                NaN
LRSW                 NaN  ...                                                NaN
LSAM                 NaN  ...                                                NaN
LSAW                 NaN  ...                                                NaN
LSSM                 NaN  ...                                                NaN
LSSW                 NaN  ...                                                NaN
MRAM                 NaN  ...                                                NaN
MRAW                 NaN  ...                                                NaN
MSAM                 NaN  ...                                                NaN
MSAW                 NaN  ...                                                NaN
NRAM                 NaN  ...                                                NaN
NRAW                 NaN  ...                                                NaN
NSAM                 NaN  ...                                                NaN
NSAW                 NaN  ...                                                NaN
RSNA                 NaN  ...  ZORI (Smoothed): All Homes Plus Multifamily Ti...
RSSA                 NaN  ...  ZORI (Smoothed, Seasonally Adjusted): All Home...
SAAM                 NaN  ...                                                NaN
SAAW                 NaN  ...                                                NaN
SASM                 NaN  ...                                                NaN
SASW                 NaN  ...                                                NaN
SRAM                 NaN  ...                                                NaN
SRAW                 NaN  ...                                                NaN
SRSM                 NaN  ...                                                NaN
SRSW                 NaN  ...                                                NaN
SSAM                 NaN  ...                                                NaN
SSAW                 NaN  ...                                                NaN
SSSM                 NaN  ...                                                NaN
SSSW                 NaN  ...                                                NaN
Z1BR                 9.0  ...                                                NaN
Z2BR                 8.0  ...                                                NaN
Z3BR                 7.0  ...                                                NaN
Z4BR                 6.0  ...                                                NaN
Z5BR                 5.0  ...                                                NaN
ZABT                 4.0  ...                                                NaN
ZALL                 3.0  ...                                                NaN
ZATT                 2.0  ...                                                NaN
ZCON                 1.0  ...                                                NaN
ZSFH                 0.0  ...                                                NaN

[56 rows x 6 columns]

# REGIONS - OVERVIEW

In [15]:
regions

        None  ...                                           region
0          0  ...   98847; WA; Wenatchee; Chelan County; Peshastin
1          1  ...              98846; WA; Okanogan County; Pateros
2          2  ...  98845; WA; Wenatchee; Douglas County; Palisades
3          3  ...             98844; WA; Okanogan County; Oroville
4          4  ...     98843; WA; Wenatchee; Douglas County; Orondo
...      ...  ...                                              ...
78372  78372  ...      98848; WA; Moses Lake; Grant County; Quincy
78373  78373  ...                  Bloomington; MD; Garrett County
78374  78374  ...                      Echols County; GA; Valdosta
78375  78375  ...               Bibb County; AL; Birmingham-Hoover
78376  78376  ...                                     Colorado; CO

[78377 rows x 4 columns]

In [16]:
print(regions['region_type'].value_counts())
print('---')
print(regions['region_type'].value_counts(normalize=True))

zip       30794
city      27204
neigh     16550
county     2863
metro       915
state        51
Name: region_type, dtype: int64
---
zip       0.392896
city      0.347092
neigh     0.211159
county    0.036529
metro     0.011674
state     0.000651
Name: region_type, dtype: float64

In [17]:
region_type_specific_data = {}

for t in regions['region_type'].unique():
  if t in ['city','county', 'metro', 'state']:
    rtype = regions[regions['region_type'] == t]
    print(t)
    print('---')
    print(rtype[:5])
    print('\n')
    region_type_specific_data[t] = rtype

city
---
     None  ...                                             region
10     10  ...  Carrsville; VA; Virginia Beach-Norfolk-Newport...
20     20  ...     Birchleaf; VA; Big Stone Gap; Dickenson County
56     56  ...                Wright; KS; Dodge City; Ford County
123   123  ...  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
166   166  ...  South Wilmington; IL; Chicago-Naperville-Elgin...

[5 rows x 4 columns]


county
---
     None  region_id region_type                                 region
94     94        999      county  Durham County; NC; Durham-Chapel Hill
167   167        998      county                      Duplin County; NC
244   244        997      county              Dubois County; IN; Jasper
398   398        995      county                      Donley County; TX
585   585        993      county                      Dimmit County; TX


state
---
        None  region_id region_type             region
7241    7241          9       state     California; CA
15472  15472          8       state        Arizona; AZ
33788  33788         62       state        Wyoming; WY
34274  34274         61       state  West Virginia; WV
35087  35087         60       state      Wisconsin; WI


metro
---
        None  region_id region_type                               region
22719  22719     753929       metro                       Zapata, TX; TX
22720  22720     753928       metro  Wisconsin Rapids-Marshfield, WI; WI
22721  22721     753927       metro                   Winnemucca, NV; NV
22722  22722     753926       metro                  Weatherford, OK; OK
22723  22723     753925       metro               Vineyard Haven, MA; MA

In [18]:
for i in region_type_specific_data:
  print(i)

city
county
state
metro

In [19]:
for i in region_type_specific_data:
  print(i)
  print('---')
  print(region_type_specific_data[i])
  print('\n')

city
---
        None  ...                                             region
10        10  ...  Carrsville; VA; Virginia Beach-Norfolk-Newport...
20        20  ...     Birchleaf; VA; Big Stone Gap; Dickenson County
56        56  ...                Wright; KS; Dodge City; Ford County
123      123  ...  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
166      166  ...  South Wilmington; IL; Chicago-Naperville-Elgin...
...      ...  ...                                                ...
78267  78267  ...                        Audubon; IA; Audubon County
78297  78297  ...  Bound Brook; NJ; New York-Newark-Jersey City; ...
78327  78327  ...                         Chanute; KS; Neosho County
78363  78363  ...  Blountsville; AL; Birmingham-Hoover; Blount Co...
78373  78373  ...                    Bloomington; MD; Garrett County

[27204 rows x 4 columns]


county
---
        None  region_id region_type                                     region
94        94        999      county      Durham County; NC; Durham-Chapel Hill
167      167        998      county                          Duplin County; NC
244      244        997      county                  Dubois County; IN; Jasper
398      398        995      county                          Donley County; TX
585      585        993      county                          Dimmit County; TX
...      ...        ...         ...                                        ...
78144  78144       1003      county              Elmore County; AL; Montgomery
78195  78195       1002      county                          Elbert County; GA
78277  78277       1001      county  Elbert County; CO; Denver-Aurora-Lakewood
78374  78374       1000      county                Echols County; GA; Valdosta
78375  78375        100      county         Bibb County; AL; Birmingham-Hoover

[2863 rows x 4 columns]


state
---
        None  region_id region_type                    region
7241    7241          9       state            California; CA
15472  15472          8       state               Arizona; AZ
33788  33788         62       state               Wyoming; WY
34274  34274         61       state         West Virginia; WV
35087  35087         60       state             Wisconsin; WI
35088  35088          6       state              Arkansas; AR
35954  35954         59       state            Washington; WA
36646  36646         58       state               Vermont; VT
37363  37363         56       state              Virginia; VA
37870  37870         55       state                  Utah; UT
38351  38351         54       state                 Texas; TX
38878  38878         53       state             Tennessee; TN
39398  39398         52       state          South Dakota; SD
39911  39911         51       state        South Carolina; SC
40434  40434         50       state          Rhode Island; RI
41910  41910         47       state          Pennsylvania; PA
42426  42426         46       state                Oregon; OR
42974  42974         45       state              Oklahoma; OK
43483  43483         44       state                  Ohio; OH
43992  43992         43       state              New York; NY
44658  44658         42       state                Nevada; NV
47197  47197         41       state            New Mexico; NM
48094  48094         40       state            New Jersey; NJ
48095  48095          4       state               Alabama; AL
51304  51304         39       state         New Hampshire; NH
51822  51822         38       state              Nebraska; NE
52358  52358         37       state          North Dakota; ND
52879  52879         36       state        North Carolina; NC
53365  53365         35       state               Montana; MT
54429  54429         34       state           Mississippi; MS
55515  55515         32       state              Missouri; MO
56091  56091         31       state             Minnesota; MN
56672  56672         30       state              Michigan; MI
56673  56673          3       state                Alaska; AK
57806  57806         28       state                 Maine; ME
62929  62929         27       state              Maryland; MD
65168  65168         26       state         Massachusetts; MA
66053  66053         25       state             Louisiana; LA
66908  66908         24       state              Kentucky; KY
67773  67773         23       state                Kansas; KS
68496  68496         22       state               Indiana; IN
69250  69250         21       state              Illinois; IL
70099  70099         20       state                 Idaho; ID
70912  70912         19       state                  Iowa; IA
71687  71687         18       state                Hawaii; HI
73109  73109         16       state               Georgia; GA
74528  74528         14       state               Florida; FL
75262  75262         13       state              Delaware; DE
76445  76445         12       state  District of Columbia; DC
77349  77349         11       state           Connecticut; CT
78376  78376         10       state              Colorado; CO


metro
---
        None  region_id region_type                               region
22719  22719     753929       metro                       Zapata, TX; TX
22720  22720     753928       metro  Wisconsin Rapids-Marshfield, WI; WI
22721  22721     753927       metro                   Winnemucca, NV; NV
22722  22722     753926       metro                  Weatherford, OK; OK
22723  22723     753925       metro               Vineyard Haven, MA; MA
...      ...        ...         ...                                  ...
51068  51068     394300       metro                          Ada, OK; OK
51070  51070     394299       metro                      Abilene, TX; TX
51071  51071     394298       metro                     Aberdeen, WA; WA
51072  51072     394297       metro                     Aberdeen, SD; SD
78004  78004     102001       metro                        United States

[915 rows x 4 columns]

## **REGIONS CLEANING**

In [20]:
# ## TOTAL PARTS: 8

# # PART 1:
# cities = regions[regions['region_type'] == 'city']
# cities.drop(columns=['None','region_type'], inplace=True)
# cities.reset_index(inplace=True)

# # PART 2:
# region_breakdown = cities['region'].str.split("; ", expand=True)
# region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

# # PART 3:
# region_id = cities.drop(columns=['index', 'region'])
# df = pd.concat([region_id, region_breakdown], axis=1)

# # PART 4:
# cols = ['city', 'state', 'region', 'county']
# df[cols] = df[cols].astype('string')

# # PART 5:
# psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')

# postals = list(psc_data['Postal'])
# states = list(psc_data['State'])
# capitals = list(psc_data['Capital'])

# capitals_postals_dict = dict(zip(capitals, postals))

# # PART 6:
# arr = []
# index = 0

# for i in df['city']:
#   if i in capitals_postals_dict:
#     if capitals_postals_dict[i] == df['state'][index]:
#       zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
#       arr.append(zipped)
#   index += 1

# print(len(arr))
# arr

# # PART 7:
# present_cities = []

# for lst in arr:
#   city = lst[0]
#   postal = lst[1]
#   # print(city, postal)
#   present_cities.append(city)

# print(len(present_cities))
# present_cities


# # PART 8:
# for i in capitals_postals_dict:
#   if i not in present_cities:
#     print(capitals_postals_dict[i])

In [21]:
## PART: 1
cities = regions[regions['region_type'] == 'city']
cities.drop(columns=['None','region_type'], inplace=True)
cities.reset_index(inplace=True)

print(cities.shape)
cities.head()

(27204, 3)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   index  region_id                                             region
0     10       9999  Carrsville; VA; Virginia Beach-Norfolk-Newport...
1     20       9998     Birchleaf; VA; Big Stone Gap; Dickenson County
2     56       9994                Wright; KS; Dodge City; Ford County
3    123       9987  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
4    166       9980  South Wilmington; IL; Chicago-Naperville-Elgin...

In [22]:
## PART: 2
region_breakdown = cities['region'].str.split("; ", expand=True)
region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

print(region_breakdown.shape)
region_breakdown.head()

(27204, 4)

               city  ...                county
0        Carrsville  ...  Isle of Wight County
1         Birchleaf  ...      Dickenson County
2            Wright  ...           Ford County
3            Weston  ...      Fairfield County
4  South Wilmington  ...         Grundy County

[5 rows x 4 columns]

In [23]:
## PART: 3
region_id = cities.drop(columns=['index', 'region'])
df = pd.concat([region_id, region_breakdown], axis=1)

print(df.shape)
df.head()

(27204, 5)

   region_id  ...                county
0       9999  ...  Isle of Wight County
1       9998  ...      Dickenson County
2       9994  ...           Ford County
3       9987  ...      Fairfield County
4       9980  ...         Grundy County

[5 rows x 5 columns]

In [24]:
df.dtypes

region_id     int64
city         object
state        object
region       object
county       object
dtype: object

In [25]:
## PART: 4
cols = ['city', 'state', 'region', 'county']
df[cols] = df[cols].astype('string')

df.dtypes

region_id     int64
city         string
state        string
region       string
county       string
dtype: object

In [26]:
df.head()

   region_id  ...                county
0       9999  ...  Isle of Wight County
1       9998  ...      Dickenson County
2       9994  ...           Ford County
3       9987  ...      Fairfield County
4       9980  ...         Grundy County

[5 rows x 5 columns]

In [28]:
## PART: 5
psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')
# psc_data

postals = list(psc_data['Postal'])
states = list(psc_data['State'])
capitals = list(psc_data['Capital'])
# print(len(postals), len(states), len(capitals))

capitals_postals_dict = dict(zip(capitals, postals))
capitals_postals_dict

{'Albany': 'NY',
 'Annapolis': 'MD',
 'Atlanta': 'GA',
 'Augusta': 'ME',
 'Austin': 'TX',
 'Baton Rouge': 'LA',
 'Bismarck': 'ND',
 'Boise': 'ID',
 'Boston': 'MA',
 'Carson City': 'NV',
 'Charleston': 'WV',
 'Cheyenne': 'WY',
 'Columbia': 'SC',
 'Columbus': 'OH',
 'Concord': 'NH',
 'Denver': 'CO',
 'Des Moines': 'IA',
 'Dover': 'DE',
 'Frankfort': 'KY',
 'Harrisburg': 'PA',
 'Hartford': 'CT',
 'Helena': 'MT',
 'Honolulu': 'HI',
 'Indianapolis': 'IN',
 'Jackson': 'MS',
 'Jefferson City': 'MO',
 'Juneau': 'AK',
 'Lansing': 'MI',
 'Lincoln': 'NE',
 'Little Rock': 'AR',
 'Madison': 'WI',
 'Montgomery': 'AL',
 'Montpelier': 'VT',
 'Nashville': 'TN',
 'Oklahoma City': 'OK',
 'Olympia': 'WA',
 'Phoenix': 'AZ',
 'Pierre': 'SD',
 'Providence': 'RI',
 'Raleigh': 'NC',
 'Richmond': 'VA',
 'Sacramento': 'CA',
 'Saint Paul': 'MN',
 'Salem': 'OR',
 'Salt Lake City': 'UT',
 'Santa Fe': 'NM',
 'Springfield': 'IL',
 'Tallahassee': 'FL',
 'Topeka': 'KS',
 'Trenton': 'NJ'}

In [29]:
## PART: 6

arr = []
index = 0

for i in df['city']:
  # print(i)
  if i in capitals_postals_dict:
    if capitals_postals_dict[i] == df['state'][index]:
      zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
      arr.append(zipped)
  index += 1

print(len(arr))
arr


## FUNCTION:
# def cities_states_regionid_func(df, dictionary):
#   arr = []
#   index = 0

#   for i in df['city']:
#     # print(i)
#     if i in dictionary:
#       if dictionary[i] == df['state'][index]:
#         zipped = [i, dictionary[i], df['region_id'][index]]
#         arr.append(zipped)
#     index += 1

#   print(len(arr))
#   return arr

# ## CHECK: Calling function 
# new_arr = cities_states_regionid_func(df, capitals_postals_dict)
# new_arr

50

[['Salt Lake City', 'UT', 6909],
 ['Richmond', 'VA', 6752],
 ['Pierre', 'SD', 6499],
 ['Nashville', 'TN', 6118],
 ['Springfield', 'IL', 54522],
 ['Raleigh', 'NC', 54047],
 ['Olympia', 'WA', 53718],
 ['Juneau', 'AK', 5365],
 ['Montpelier', 'VT', 53398],
 ['Little Rock', 'AR', 52998],
 ['Jefferson City', 'MO', 52683],
 ['Helena', 'MT', 52480],
 ['Hartford', 'CT', 5071],
 ['Tallahassee', 'FL', 47945],
 ['Cheyenne', 'WY', 44571],
 ['Boston', 'MA', 44269],
 ['Baton Rouge', 'LA', 44055],
 ['Columbia', 'SC', 4174],
 ['Trenton', 'NJ', 41279],
 ['Topeka', 'KS', 41256],
 ['Santa Fe', 'NM', 40760],
 ['Phoenix', 'AZ', 40326],
 ['Madison', 'WI', 398849],
 ['Lansing', 'MI', 398300],
 ['Concord', 'NH', 37995],
 ['Boise', 'ID', 3737],
 ['Atlanta', 'GA', 37211],
 ['Albany', 'NY', 37074],
 ['Oklahoma City', 'OK', 33225],
 ['Montgomery', 'AL', 32931],
 ['Lincoln', 'NE', 32503],
 ['Jackson', 'MS', 32179],
 ['Indianapolis', 'IN', 32149],
 ['Carson City', 'NV', 30772],
 ['Providence', 'RI', 26637],
 ['Salem', 'OR', 20317],
 ['Saint Paul', 'MN', 20313],
 ['Sacramento', 'CA', 20288],
 ['Honolulu', 'HI', 18615],
 ['Des Moines', 'IA', 17759],
 ['Charleston', 'WV', 17394],
 ['Bismarck', 'ND', 17040],
 ['Augusta', 'ME', 16840],
 ['Annapolis', 'MD', 16773],
 ['Harrisburg', 'PA', 11817],
 ['Frankfort', 'KY', 11520],
 ['Dover', 'DE', 11141],
 ['Denver', 'CO', 11093],
 ['Columbus', 'OH', 10920],
 ['Austin', 'TX', 10221]]

In [30]:
## PART: 7

present_cities = []

for lst in arr:
  city = lst[0]
  postal = lst[1]
  # print(city, postal)
  present_cities.append(city)

print(len(present_cities))
present_cities


## FUNCTION:
# def test_present_cities(array):
#   present_cities = []

#   for lst in arr:
#     city = lst[0]
#     postal = lst[1]
#     # print(city, postal)
#     present_cities.append(city)

#   print(len(present_cities))
#   return present_cities

# ## CHECK: Calling function
# present_cities = test_present_cities(arr)
# present_cities

50

['Salt Lake City',
 'Richmond',
 'Pierre',
 'Nashville',
 'Springfield',
 'Raleigh',
 'Olympia',
 'Juneau',
 'Montpelier',
 'Little Rock',
 'Jefferson City',
 'Helena',
 'Hartford',
 'Tallahassee',
 'Cheyenne',
 'Boston',
 'Baton Rouge',
 'Columbia',
 'Trenton',
 'Topeka',
 'Santa Fe',
 'Phoenix',
 'Madison',
 'Lansing',
 'Concord',
 'Boise',
 'Atlanta',
 'Albany',
 'Oklahoma City',
 'Montgomery',
 'Lincoln',
 'Jackson',
 'Indianapolis',
 'Carson City',
 'Providence',
 'Salem',
 'Saint Paul',
 'Sacramento',
 'Honolulu',
 'Des Moines',
 'Charleston',
 'Bismarck',
 'Augusta',
 'Annapolis',
 'Harrisburg',
 'Frankfort',
 'Dover',
 'Denver',
 'Columbus',
 'Austin']

In [31]:
## PART: 8

for i in capitals_postals_dict:
  # print(capitals_postal_dict[i])
  if i not in present_cities:
    print(capitals_postals_dict[i])


## FUNCTION:
# def test_not_present(dictionary, lst):
#   not_present = [dictionary[i] for i in dictionary if i not in lst]
#   return not_present

# not_present = test_not_present(capitals_postals_dict, present_cities)
# not_present

### WRANGLE FUNCTION

In [32]:
## WRANGLE FUNCTION: ## 

def wrangle(regions):
  ## COPY
  regions = regions.copy()
  
  ## PART 1:
  # Create a smaller df that uses only the 'region_type' == 'city'
  cities = regions[regions['region_type'] == 'city']
  # Drop specified columns; use 'inplace' to keep changes
  cities.drop(columns=['None','region_type'], inplace=True)
  # Reset the index; use 'inplace' to keep changes
  cities.reset_index(inplace=True)

  
  ## PART 2:
  # Split the 'region' column on semicolons; use expand to create a new df with
  # the specified columns
  region_breakdown = cities['region'].str.split("; ", expand=True)
  # Rename the specific columns in the 'region_breakdown' df
  region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

  
  ## PART 3:
  # Create variable 'region_id' which is the cities df with ONLY region_ids 
  region_id = cities.drop(columns=['index', 'region'])
  # Concatenate the 'region_id' and 'region_breakdown' on the column axis
  df = pd.concat([region_id, region_breakdown], axis=1)

  
  ## PART 4:
  # Create 'cols' variable that has the specified cols we want to change the 
  # dtypes for
  cols = ['city', 'state', 'region', 'county']
  # Cast df[cols] as strings so they can be accessed as raw elements rather than
  # objects
  df[cols] = df[cols].astype('string')

  
  ## PART 5:
  # Read in a CSV with the specified postal codes, states and capitals (cities)
  psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')

  # Create variables that hold the lists of each specified column in the df
  postals = list(psc_data['Postal'])
  states = list(psc_data['State'])
  capitals = list(psc_data['Capital'])
  # CHECK: Lengths equal the number of cities that are being accessed
  print("Postals Length:", len(postals)) 
  print("States Length:", len(states))
  print("Capitals Length:", len(capitals))
  print("---")

  # Creating a dictionary that zips the capitals (cities) and postal codes
  capitals_postals_dict = dict(zip(capitals, postals))

  
  ## PART 6:
  # Create a function that returns an array of arrays w/ the specified state,
  # postal, and region_id
  arr = []
  index = 0

  for i in df['city']:
    if i in capitals_postals_dict:
      if capitals_postals_dict[i] == df['state'][index]:
        zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
        arr.append(zipped)
    index += 1

  print("Arr Length:", len(arr))
  print("---")
  # arr


  ## PART 7:
  # Loop through the 'lst' in 'arr' and return the first indexed value; in this
  # case it's city (lst[0], lst[1]) == (city, postal)
  present_cities = []

  for lst in arr:
    city = lst[0]
    postal = lst[1]
    # print(city, postal)
    present_cities.append(city)

  print("Present_Cities Length:", len(present_cities))
  # present_cities


  ## PART 8:
  # Testing to see whether or not the cities are in the list, if they aren't,
  # create a list of them so what is missing can be identified
  for i in capitals_postals_dict:
    if i not in present_cities:
      print("NOT in df:", capitals_postals_dict[i])

  return arr, present_cities

arr, present_cities = wrangle(regions)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Postals Length: 50
States Length: 50
Capitals Length: 50
---
Arr Length: 50
---
Present_Cities Length: 50

In [33]:
## CHECK: arr
arr

[['Salt Lake City', 'UT', 6909],
 ['Richmond', 'VA', 6752],
 ['Pierre', 'SD', 6499],
 ['Nashville', 'TN', 6118],
 ['Springfield', 'IL', 54522],
 ['Raleigh', 'NC', 54047],
 ['Olympia', 'WA', 53718],
 ['Juneau', 'AK', 5365],
 ['Montpelier', 'VT', 53398],
 ['Little Rock', 'AR', 52998],
 ['Jefferson City', 'MO', 52683],
 ['Helena', 'MT', 52480],
 ['Hartford', 'CT', 5071],
 ['Tallahassee', 'FL', 47945],
 ['Cheyenne', 'WY', 44571],
 ['Boston', 'MA', 44269],
 ['Baton Rouge', 'LA', 44055],
 ['Columbia', 'SC', 4174],
 ['Trenton', 'NJ', 41279],
 ['Topeka', 'KS', 41256],
 ['Santa Fe', 'NM', 40760],
 ['Phoenix', 'AZ', 40326],
 ['Madison', 'WI', 398849],
 ['Lansing', 'MI', 398300],
 ['Concord', 'NH', 37995],
 ['Boise', 'ID', 3737],
 ['Atlanta', 'GA', 37211],
 ['Albany', 'NY', 37074],
 ['Oklahoma City', 'OK', 33225],
 ['Montgomery', 'AL', 32931],
 ['Lincoln', 'NE', 32503],
 ['Jackson', 'MS', 32179],
 ['Indianapolis', 'IN', 32149],
 ['Carson City', 'NV', 30772],
 ['Providence', 'RI', 26637],
 ['Salem', 'OR', 20317],
 ['Saint Paul', 'MN', 20313],
 ['Sacramento', 'CA', 20288],
 ['Honolulu', 'HI', 18615],
 ['Des Moines', 'IA', 17759],
 ['Charleston', 'WV', 17394],
 ['Bismarck', 'ND', 17040],
 ['Augusta', 'ME', 16840],
 ['Annapolis', 'MD', 16773],
 ['Harrisburg', 'PA', 11817],
 ['Frankfort', 'KY', 11520],
 ['Dover', 'DE', 11141],
 ['Denver', 'CO', 11093],
 ['Columbus', 'OH', 10920],
 ['Austin', 'TX', 10221]]

### **REFACTORED**: WRANGLE FUNCTION

In [34]:
## WRANGLE FUNCTION: REFACTORED ## 

def wrangle_refac(regions):
  ## COPY
  regions = regions.copy()
  
  ## PART 1:
  # Create a smaller df that uses only the 'region_type' == 'city'
  cities = regions[regions['region_type'] == 'city']
  # Drop specified columns; use 'inplace' to keep changes
  cities.drop(columns=['None','region_type'], inplace=True)
  # Reset the index; use 'inplace' to keep changes
  cities.reset_index(inplace=True)

  
  ## PART 2:
  # Split the 'region' column on semicolons; use expand to create a new df with
  # the specified columns
  region_breakdown = cities['region'].str.split("; ", expand=True)
  # Rename the specific columns in the 'region_breakdown' df
  region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

  
  ## PART 3:
  # Create variable 'region_id' which is the cities df with ONLY region_ids 
  region_id = cities.drop(columns=['index', 'region'])
  # Concatenate the 'region_id' and 'region_breakdown' on the column axis
  df = pd.concat([region_id, region_breakdown], axis=1)

  
  ## PART 4:
  # Create 'cols' variable that has the specified cols we want to change the 
  # dtypes for
  cols = ['city', 'state', 'region', 'county']
  # Cast df[cols] as strings so they can be accessed as raw elements rather than
  # objects
  df[cols] = df[cols].astype('string')

  
  ## PART 5:
  # Read in a CSV with the specified postal codes, states and capitals (cities)
  psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')

  # Create variables that hold the lists of each specified column in the df
  postals = list(psc_data['Postal'])
  states = list(psc_data['State'])
  capitals = list(psc_data['Capital'])
  # CHECK: Lengths equal the number of cities that are being accessed
  print("Postals Length:", len(postals)) 
  print("States Length:", len(states))
  print("Capitals Length:", len(capitals))
  print("---")

  # Creating a dictionary that zips the capitals (cities) and postal codes
  capitals_postals_dict = dict(zip(capitals, postals))

  
  ## PART 6:
  # Create a function that returns an array of arrays w/ the specified state,
  # postal, and region_id
  def cities_states_regionid_func(df, dictionary):
    arr = []
    index = 0

    for i in df['city']:
      if i in dictionary:
        if dictionary[i] == df['state'][index]:
          zipped = [i, dictionary[i], df['region_id'][index]]
          arr.append(zipped)
      index += 1

    return arr

  ## CHECK: Calling function 
  arr = cities_states_regionid_func(df, capitals_postals_dict)
  print("Arr Length:", len(arr))
  print("---")


  ## PART 7:
  # Loop through the 'lst' in 'arr' and return the first indexed value; in this
  # case it's city (lst[0], lst[1]) == (city, postal)
  present_cities = [lst[0] for lst in arr]
  print("Present_Cities Length:", len(present_cities))
  

  # PART 8:
  # Testing to see whether or not the cities are in the list, if they aren't,
  # create a list of them so what is missing can be identified
  def test_missing(dictionary, lst):
    missing = [dictionary[i] for i in dictionary if i not in lst]
    return missing

  missing = test_missing(capitals_postals_dict, present_cities)
  print("NOT Present Length:", len(missing))


  return arr, present_cities, missing

arr, present_cities, missing = wrangle_refac(regions)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Postals Length: 50
States Length: 50
Capitals Length: 50
---
Arr Length: 50
---
Present_Cities Length: 50
NOT Present Length: 0

In [35]:
## CHECK: arr
arr

[['Salt Lake City', 'UT', 6909],
 ['Richmond', 'VA', 6752],
 ['Pierre', 'SD', 6499],
 ['Nashville', 'TN', 6118],
 ['Springfield', 'IL', 54522],
 ['Raleigh', 'NC', 54047],
 ['Olympia', 'WA', 53718],
 ['Juneau', 'AK', 5365],
 ['Montpelier', 'VT', 53398],
 ['Little Rock', 'AR', 52998],
 ['Jefferson City', 'MO', 52683],
 ['Helena', 'MT', 52480],
 ['Hartford', 'CT', 5071],
 ['Tallahassee', 'FL', 47945],
 ['Cheyenne', 'WY', 44571],
 ['Boston', 'MA', 44269],
 ['Baton Rouge', 'LA', 44055],
 ['Columbia', 'SC', 4174],
 ['Trenton', 'NJ', 41279],
 ['Topeka', 'KS', 41256],
 ['Santa Fe', 'NM', 40760],
 ['Phoenix', 'AZ', 40326],
 ['Madison', 'WI', 398849],
 ['Lansing', 'MI', 398300],
 ['Concord', 'NH', 37995],
 ['Boise', 'ID', 3737],
 ['Atlanta', 'GA', 37211],
 ['Albany', 'NY', 37074],
 ['Oklahoma City', 'OK', 33225],
 ['Montgomery', 'AL', 32931],
 ['Lincoln', 'NE', 32503],
 ['Jackson', 'MS', 32179],
 ['Indianapolis', 'IN', 32149],
 ['Carson City', 'NV', 30772],
 ['Providence', 'RI', 26637],
 ['Salem', 'OR', 20317],
 ['Saint Paul', 'MN', 20313],
 ['Sacramento', 'CA', 20288],
 ['Honolulu', 'HI', 18615],
 ['Des Moines', 'IA', 17759],
 ['Charleston', 'WV', 17394],
 ['Bismarck', 'ND', 17040],
 ['Augusta', 'ME', 16840],
 ['Annapolis', 'MD', 16773],
 ['Harrisburg', 'PA', 11817],
 ['Frankfort', 'KY', 11520],
 ['Dover', 'DE', 11141],
 ['Denver', 'CO', 11093],
 ['Columbus', 'OH', 10920],
 ['Austin', 'TX', 10221]]

In [36]:
## CHECK: present_cities
present_cities

['Salt Lake City',
 'Richmond',
 'Pierre',
 'Nashville',
 'Springfield',
 'Raleigh',
 'Olympia',
 'Juneau',
 'Montpelier',
 'Little Rock',
 'Jefferson City',
 'Helena',
 'Hartford',
 'Tallahassee',
 'Cheyenne',
 'Boston',
 'Baton Rouge',
 'Columbia',
 'Trenton',
 'Topeka',
 'Santa Fe',
 'Phoenix',
 'Madison',
 'Lansing',
 'Concord',
 'Boise',
 'Atlanta',
 'Albany',
 'Oklahoma City',
 'Montgomery',
 'Lincoln',
 'Jackson',
 'Indianapolis',
 'Carson City',
 'Providence',
 'Salem',
 'Saint Paul',
 'Sacramento',
 'Honolulu',
 'Des Moines',
 'Charleston',
 'Bismarck',
 'Augusta',
 'Annapolis',
 'Harrisburg',
 'Frankfort',
 'Dover',
 'Denver',
 'Columbus',
 'Austin']

In [37]:
## CHECK: missing 
missing

[]

# DATA

In [38]:
data.head()

   None indicator_id  region_id        date     value
0     0         ZSFH      54720  2020-07-31  107974.0
1     1         ZSFH      54720  2020-06-30  107587.0
2     2         ZSFH      54720  2020-05-31  107089.0
3     3         ZSFH      54720  2020-04-30  107268.0
4     4         ZSFH      54720  2020-03-31  106962.0

In [45]:
data['indicator_id'].value_counts()

ZABT    151
Z4BR    151
Z5BR    151
ZATT    151
Z2BR    151
ZALL    130
Z3BR    130
ZSFH    130
Z1BR    122
Name: indicator_id, dtype: int64

In [46]:
z1br = data[data['indicator_id'] == 'Z1BR']
z1br

      None indicator_id  region_id        date    value
1145  1145         Z1BR      54720  2020-07-31  93421.0
1146  1146         Z1BR      54720  2020-06-30  93515.0
1147  1147         Z1BR      54720  2020-05-31  93840.0
1148  1148         Z1BR      54720  2020-04-30  93437.0
1149  1149         Z1BR      54720  2020-03-31  93247.0
...    ...          ...        ...         ...      ...
1262  1262         Z1BR      54720  2010-10-31  58291.0
1263  1263         Z1BR      54720  2010-09-30  58374.0
1264  1264         Z1BR      54720  2010-08-31  58480.0
1265  1265         Z1BR      54720  2010-07-31  58574.0
1266  1266         Z1BR      54720  2010-06-30  58517.0

[122 rows x 5 columns]

In [47]:
zabt = data[data['indicator_id'] == 'ZABT']
zabt

     None indicator_id  region_id        date    value
411   411         ZABT      54720  2020-07-31  62057.0
412   412         ZABT      54720  2020-06-30  61887.0
413   413         ZABT      54720  2020-05-31  61638.0
414   414         ZABT      54720  2020-04-30  61103.0
415   415         ZABT      54720  2020-03-31  60975.0
..    ...          ...        ...         ...      ...
557   557         ZABT      54720  2008-05-31  59860.0
558   558         ZABT      54720  2008-04-30  60056.0
559   559         ZABT      54720  2008-03-31  60248.0
560   560         ZABT      54720  2008-02-29  60464.0
561   561         ZABT      54720  2008-01-31  60550.0

[151 rows x 5 columns]

In [39]:
data_copy = data.copy()

In [40]:
data_copy.set_index(['region_id', 'indicator_id'], inplace=True)

In [41]:
data_copy.head()

                        None        date     value
region_id indicator_id
54720     ZSFH             0  2020-07-31  107974.0
          ZSFH             1  2020-06-30  107587.0
          ZSFH             2  2020-05-31  107089.0
          ZSFH             3  2020-04-30  107268.0
          ZSFH             4  2020-03-31  106962.0

In [42]:
data_copy.drop(columns=['None'], axis=1, inplace=True)

In [43]:
data_copy.head()

                              date     value
region_id indicator_id
54720     ZSFH          2020-07-31  107974.0
          ZSFH          2020-06-30  107587.0
          ZSFH          2020-05-31  107089.0
          ZSFH          2020-04-30  107268.0
          ZSFH          2020-03-31  106962.0

In [44]:
data_copy.index.names

FrozenList(['region_id', 'indicator_id'])

In [48]:
indicator_id = ['ZSFH','ZALL','SSSW','SSSM','SRSW','SRSM','SASW','SASM', 
                'SAAW','SAAM','RSSA','RSNA','LSSW','LSSM','LRSW','LRSM', 
                'CSSW','CSSM','CRSV','CRSM']

In [ ]:
# data = quandl.get_table('ZILLOW/DATA', region_id=[]', paginate=True)
# regions = quandl.get_table('ZILLOW/REGIONS', paginate=True)

# Population Data

In [188]:
pop = pd.read_csv('population.csv', encoding = "ISO-8859-1")
pop.head()

   SUMLEV  STATE  COUNTY  ...  POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019
0      40      1       0  ...          4874486          4887681          4903185
1     162      1       0  ...             2575             2571             2560
2     162      1       0  ...             4327             4308             4281
3     162      1       0  ...              726              723              718
4     162      1       0  ...              332              331              328

[5 rows x 22 columns]

In [189]:
pop.columns.to_list()

['SUMLEV',
 'STATE',
 'COUNTY',
 'PLACE',
 'COUSUB',
 'CONCIT',
 'PRIMGEO_FLAG',
 'FUNCSTAT',
 'NAME',
 'STNAME',
 'CENSUS2010POP',
 'ESTIMATESBASE2010',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'POPESTIMATE2016',
 'POPESTIMATE2017',
 'POPESTIMATE2018',
 'POPESTIMATE2019']

In [190]:
cols_to_drop = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018']
pop = pop.drop(cols_to_drop, axis=1)
pop.head()

   SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
0      40      1       0  ...        4779736            4780125          4903185
1     162      1       0  ...           2688               2705             2560
2     162      1       0  ...           4522               4506             4281
3     162      1       0  ...            758                754              718
4     162      1       0  ...            356                356              328

[5 rows x 13 columns]

In [191]:
pop = pop[pop['POPESTIMATE2019'] > 50000]
pop.shape

(3634, 13)

In [192]:
pop.head()

     SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
0        40      1       0  ...        4779736            4780125          4903185
25      162      1       0  ...          53380              53439            66259
43      162      1       0  ...         212237             212585           209403
110     162      1       0  ...          55683              55786            54445
115     162      1       0  ...          65496              65922            68941

[5 rows x 13 columns]

In [193]:
pop = pop.sort_values(by='POPESTIMATE2019', ascending=False)
pop.head()

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
2851       40      6       0  ...       37253956           37254519         39512223
71181      40     48       0  ...       25145561           25146091         28995881
5035       40     12       0  ...       18801310           18804564         21477737
46217      40     36       0  ...       19378102           19378144         19453561
61447      40     42       0  ...       12702379           12702868         12801989

[5 rows x 13 columns]

In [194]:
# pop[pop['NAME']==pop['STNAME']]
pop[pop['NAME']=='District of Columbia']

      SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
5031      40     11       0  ...         601723             601767           705749
5033      50     11       1  ...         601723             601767           705749

[2 rows x 13 columns]

In [195]:
pop['NAME']

2851                    California
71181                        Texas
5035                       Florida
46217                     New York
61447                 Pennsylvania
                   ...
48028             Irondequoit town
47559              Franklin County
50542               Halifax County
26959    Balance of Bossier Parish
1562     Balance of Cochise County
Name: NAME, Length: 3634, dtype: object

In [196]:
for index, row in pop.iterrows():
  if (row['NAME'] == row['STNAME']) & (row['NAME'] != 'District of Columbia'):
    pop = pop.drop(index)
pop.shape

(3584, 13)

In [197]:
pop[pop['NAME']==pop['STNAME']]

      SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
5031      40     11       0  ...         601723             601767           705749
5033      50     11       1  ...         601723             601767           705749

[2 rows x 13 columns]

In [198]:
pop['NAME'].duplicated()

3468     False
46586    False
9965     False
73198    False
1592     False
         ...
48028    False
47559     True
50542    False
26959    False
1562     False
Name: NAME, Length: 3584, dtype: bool

In [199]:
pop = pop.drop_duplicates(subset=['NAME'])
pop.shape

(2193, 13)

In [200]:
pop[pop['NAME'].str.contains('County')]

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
3468       50      6      37  ...        9818605            9819968         10039107
9965       50     17      31  ...        5194675            5195026          5150233
73198      50     48     201  ...        4092459            4093176          4713325
1592       50      4      13  ...        3817117            3817365          4485414
3738       50      6      73  ...        3095313            3095349          3338330
...       ...    ...     ...  ...            ...                ...              ...
73749      50     48     349  ...          47735              47840            50113
76593      50     53      75  ...          44776              44778            50104
78080      50     55      15  ...          48971              48981            50089
50542      50     37      83  ...          54691              54624            50010
1562      157      4       3  ...          52410              50899            50007

[1124 rows x 13 columns]

In [201]:
# City = pop[pop['NAME'].str.contains('City')]
city = pop[pop['NAME'].str.contains('city')]
print(city.shape)
city.head(25)

(807, 13)

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
46586     162     36       0  ...        8175133            8175031          8336817
3092      162      6       0  ...        3792621            3793139          3979576
10149      61     17      31  ...        2695598            2695652          2693976
9986      157     17      31  ...        2695598            2695652          2693976
47856     157     36      47  ...        2504700            2504721          2559903
71676     162     48       0  ...        2099451            2095517          2320268
73208     157     48     201  ...        2057280            2052686          2272285
1512      162      4       0  ...        1445632            1446691          1680992
62144     162     42       0  ...        1526006            1526012          1584064
72152     162     48       0  ...        1327407            1326161          1547253
72504     157     48      29  ...        1327381            1326135          1547222
3221      162      6       0  ...        1307402            1301929          1423851
71452     162     48       0  ...        1197816            1197658          1343573
72829     157     48     113  ...        1124296            1124944          1260370
3229      162      6       0  ...         945942             952528          1021795
71233     162     48       0  ...         790390             801829           978908
74107     157     48     453  ...         754691             760829           923523
5565      157     12      31  ...         821784             821750           911507
71555     162     48       0  ...         741206             744824           909585
74048     157     48     439  ...         733386             737045           900073
54085     162     39       0  ...         787033             789018           898553
15885     170     18       0  ...         829718             829709           886220
49728     162     37       0  ...         731424             735607           885708
3224      162      6       0  ...         805235             805184           881549
56179      71     39      49  ...         770122             771946           879279

[25 rows x 13 columns]

In [202]:
pt = pop[pop['NAME'].str.contains('(pt.)')]
pt.shape

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1954: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

(125, 13)

In [203]:
temp = city[~city['NAME'].isin(pt['NAME'])]
temp.shape

(697, 13)

In [204]:
df = temp.copy()
df.head(50)

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
46586     162     36       0  ...        8175133            8175031          8336817
3092      162      6       0  ...        3792621            3793139          3979576
10149      61     17      31  ...        2695598            2695652          2693976
71676     162     48       0  ...        2099451            2095517          2320268
1512      162      4       0  ...        1445632            1446691          1680992
62144     162     42       0  ...        1526006            1526012          1584064
72152     162     48       0  ...        1327407            1326161          1547253
3221      162      6       0  ...        1307402            1301929          1423851
71452     162     48       0  ...        1197816            1197658          1343573
3229      162      6       0  ...         945942             952528          1021795
71233     162     48       0  ...         790390             801829           978908
5565      157     12      31  ...         821784             821750           911507
71555     162     48       0  ...         741206             744824           909585
54085     162     39       0  ...         787033             789018           898553
15885     170     18       0  ...         829718             829709           886220
49728     162     37       0  ...         731424             735607           885708
3224      162      6       0  ...         805235             805184           881549
15545     162     18       0  ...         820445             820457           876384
76194     162     53       0  ...         608660             608661           753675
3994      162      8       0  ...         600158             599825           727211
5034      157     11       1  ...         601723             601767           705749
28796      71     25      25  ...         617594             617792           692600
72979     157     48     141  ...         649121             648245           681728
29002     162     26       0  ...         713777             713898           670031
59893     162     40       0  ...         579999             580462           655057
61045     162     41       0  ...         583776             583793           654741
43999     157     32       3  ...         583756             584489           651319
71087     157     47     157  ...         646889             651873           651073
28329     157     24     510  ...         620961             620770           593490
79648      61     55      79  ...         594833             594498           590157
45938     162     35       0  ...         545852             546153           560513
1638      157      4      19  ...         520116             526634           548073
3003      162      6       0  ...         494665             497172           531576
1502      162      4       0  ...         439041             440092           518012
3706      157      6      67  ...         466488             466383           513624
6025      162     13       0  ...         420003             427059           506811
39247     162     29       0  ...         459787             459902           495327
3978      162      8       0  ...         416427             417447           478221
42320     162     31       0  ...         408958             458989           478192
50028     162     37       0  ...         403892             404068           474069
5278      162     12       0  ...         399457             399481           467963
3087      162      6       0  ...         462257             462221           462628
75970      50     51     810  ...         437994             437903           449974
3143      162      6       0  ...         390724             390765           433031
33087     162     27       0  ...         382578             382603           429606
60028     162     40       0  ...         391906             392004           401190
5628      157     12      57  ...         335709             336150           399700
71225     162     48       0  ...         365438             365098           398854
27154     157     22      71  ...         343829             343828           390144
21879     162     20       0  ...         382368             382437           389938

[50 rows x 13 columns]

In [205]:
df['NAME'] = df['NAME'].apply(lambda x: x[:-4])
df.head(50)

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
46586     162     36       0  ...        8175133            8175031          8336817
3092      162      6       0  ...        3792621            3793139          3979576
10149      61     17      31  ...        2695598            2695652          2693976
71676     162     48       0  ...        2099451            2095517          2320268
1512      162      4       0  ...        1445632            1446691          1680992
62144     162     42       0  ...        1526006            1526012          1584064
72152     162     48       0  ...        1327407            1326161          1547253
3221      162      6       0  ...        1307402            1301929          1423851
71452     162     48       0  ...        1197816            1197658          1343573
3229      162      6       0  ...         945942             952528          1021795
71233     162     48       0  ...         790390             801829           978908
5565      157     12      31  ...         821784             821750           911507
71555     162     48       0  ...         741206             744824           909585
54085     162     39       0  ...         787033             789018           898553
15885     170     18       0  ...         829718             829709           886220
49728     162     37       0  ...         731424             735607           885708
3224      162      6       0  ...         805235             805184           881549
15545     162     18       0  ...         820445             820457           876384
76194     162     53       0  ...         608660             608661           753675
3994      162      8       0  ...         600158             599825           727211
5034      157     11       1  ...         601723             601767           705749
28796      71     25      25  ...         617594             617792           692600
72979     157     48     141  ...         649121             648245           681728
29002     162     26       0  ...         713777             713898           670031
59893     162     40       0  ...         579999             580462           655057
61045     162     41       0  ...         583776             583793           654741
43999     157     32       3  ...         583756             584489           651319
71087     157     47     157  ...         646889             651873           651073
28329     157     24     510  ...         620961             620770           593490
79648      61     55      79  ...         594833             594498           590157
45938     162     35       0  ...         545852             546153           560513
1638      157      4      19  ...         520116             526634           548073
3003      162      6       0  ...         494665             497172           531576
1502      162      4       0  ...         439041             440092           518012
3706      157      6      67  ...         466488             466383           513624
6025      162     13       0  ...         420003             427059           506811
39247     162     29       0  ...         459787             459902           495327
3978      162      8       0  ...         416427             417447           478221
42320     162     31       0  ...         408958             458989           478192
50028     162     37       0  ...         403892             404068           474069
5278      162     12       0  ...         399457             399481           467963
3087      162      6       0  ...         462257             462221           462628
75970      50     51     810  ...         437994             437903           449974
3143      162      6       0  ...         390724             390765           433031
33087     162     27       0  ...         382578             382603           429606
60028     162     40       0  ...         391906             392004           401190
5628      157     12      57  ...         335709             336150           399700
71225     162     48       0  ...         365438             365098           398854
27154     157     22      71  ...         343829             343828           390144
21879     162     20       0  ...         382368             382437           389938

[50 rows x 13 columns]

In [206]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [207]:
df['POSTAL']= df['STNAME'].map(us_state_abbrev)
df.head()

       SUMLEV  STATE  COUNTY  ...  ESTIMATESBASE2010  POPESTIMATE2019  POSTAL
46586     162     36       0  ...            8175031          8336817      NY
3092      162      6       0  ...            3793139          3979576      CA
10149      61     17      31  ...            2695652          2693976      IL
71676     162     48       0  ...            2095517          2320268      TX
1512      162      4       0  ...            1446691          1680992      AZ

[5 rows x 14 columns]

In [208]:
cols = list(df)

# rearrange column order to make most sense
cols.insert(10, cols.pop(cols.index('POSTAL')))

# save new reordered frame from rearranged cols list
df = df.loc[:, cols]

print(df.shape)
df.head()

(697, 14)

       SUMLEV  STATE  COUNTY  ...  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2019
46586     162     36       0  ...        8175133            8175031          8336817
3092      162      6       0  ...        3792621            3793139          3979576
10149      61     17      31  ...        2695598            2695652          2693976
71676     162     48       0  ...        2099451            2095517          2320268
1512      162      4       0  ...        1445632            1446691          1680992

[5 rows x 14 columns]

In [209]:
col_names = df.columns.to_list()
col_names_new = [col.lower() for col in col_names]
col_names_new

['sumlev',
 'state',
 'county',
 'place',
 'cousub',
 'concit',
 'primgeo_flag',
 'funcstat',
 'name',
 'stname',
 'postal',
 'census2010pop',
 'estimatesbase2010',
 'popestimate2019']

In [210]:
df.columns = col_names_new
df.head()

       sumlev  state  county  ...  census2010pop  estimatesbase2010  popestimate2019
46586     162     36       0  ...        8175133            8175031          8336817
3092      162      6       0  ...        3792621            3793139          3979576
10149      61     17      31  ...        2695598            2695652          2693976
71676     162     48       0  ...        2099451            2095517          2320268
1512      162      4       0  ...        1445632            1446691          1680992

[5 rows x 14 columns]

In [211]:
df.rename(columns={'name':'city', 'stname':'state_'}, inplace=True)
df.drop(columns=['sumlev', 'state', 'county', 'place', 'cousub', 'concit', 
                 'primgeo_flag', 'funcstat'], inplace=True)
df.rename(columns={'state_':'state'}, inplace=True)

In [220]:
pd.set_option('display.max_rows', 200)

In [222]:
print(df.shape)
df[:199]

(697, 6)

                          city  ... popestimate2019
46586                New York   ...         8336817
3092              Los Angeles   ...         3979576
10149                 Chicago   ...         2693976
71676                 Houston   ...         2320268
1512                  Phoenix   ...         1680992
62144            Philadelphia   ...         1584064
72152             San Antonio   ...         1547253
3221                San Diego   ...         1423851
71452                  Dallas   ...         1343573
3229                 San Jose   ...         1021795
71233                  Austin   ...          978908
5565             Jacksonville   ...          911507
71555              Fort Worth   ...          909585
54085                Columbus   ...          898553
15885            Indianapolis   ...          886220
49728               Charlotte   ...          885708
3224            San Francisco   ...          881549
15545  Indianapolis city (bala  ...          876384
76194                 Seattle   ...          753675
3994                   Denver   ...          727211
5034               Washington   ...          705749
28796                  Boston   ...          692600
72979                 El Paso   ...          681728
29002                 Detroit   ...          670031
59893           Oklahoma City   ...          655057
61045                Portland   ...          654741
43999               Las Vegas   ...          651319
71087                 Memphis   ...          651073
28329               Baltimore   ...          593490
79648               Milwaukee   ...          590157
45938             Albuquerque   ...          560513
1638                   Tucson   ...          548073
3003                   Fresno   ...          531576
1502                     Mesa   ...          518012
3706               Sacramento   ...          513624
6025                  Atlanta   ...          506811
39247             Kansas City   ...          495327
3978         Colorado Springs   ...          478221
42320                   Omaha   ...          478192
50028                 Raleigh   ...          474069
5278                    Miami   ...          467963
3087               Long Beach   ...          462628
75970          Virginia Beach   ...          449974
3143                  Oakland   ...          433031
33087             Minneapolis   ...          429606
60028                   Tulsa   ...          401190
5628                    Tampa   ...          399700
71225               Arlington   ...          398854
27154             New Orleans   ...          390144
21879                 Wichita   ...          389938
3444              Bakersfield   ...          384145
55732               Cleveland   ...          381009
3938                   Aurora   ...          379289
3624                  Anaheim   ...          350365
3240                Santa Ana   ...          332318
3203                Riverside   ...          331360
71419          Corpus Christi   ...          326586
43998               Henderson   ...          320189
3766                 Stockton   ...          312697
33260                St. Paul   ...          308096
54066              Cincinnati   ...          303940
39570               St. Louis   ...          300576
62762              Pittsburgh   ...          300286
50531              Greensboro   ...          296710
42242                 Lincoln   ...          289102
72036                   Plano   ...          287677
5321                  Orlando   ...          287442
3046                   Irvine   ...          287401
45185                  Newark   ...          282011
49771                  Durham   ...          278993
3740              Chula Vista   ...          274492
57442                  Toledo   ...          272779
15928              Fort Wayne   ...          270402
5377           St. Petersburg   ...          265351
71786                  Laredo   ...          262491
44490             Jersey City   ...          262075
1468                 Chandler   ...          261165
78435                 Madison   ...          259680
71835                 Lubbock   ...          258862
1612               Scottsdale   ...          258069
44030                    Reno   ...          255601
46285                 Buffalo   ...          255284
1487                 Glendale   ...          252381
43986         North Las Vegas   ...          251974
50483           Winston-Salem   ...          247945
75911              Chesapeake   ...          244835
75949                 Norfolk   ...          242742
3002                  Fremont   ...          241110
71575                 Garland   ...          239928
72840                  Irving   ...          239798
5742                  Hialeah   ...          233339
75473                Richmond   ...          230436
7476               Boise City   ...          228959
76208                 Spokane   ...          222081
26614             Baton Rouge   ...          220236
76500                  Tacoma   ...          217827
3215           San Bernardino   ...          215784
3875                  Modesto   ...          215196
2995                  Fontana   ...          214547
19333              Des Moines   ...          214237
3126            Moreno Valley   ...          213055
3541            Santa Clarita   ...          212979
49802            Fayetteville   ...          211657
43                 Birmingham   ...          209403
3153                   Oxnard   ...          208881
48012               Rochester   ...          205695
5920           Port St. Lucie   ...          201846
29075            Grand Rapids   ...          201013
216                Huntsville   ...          200574
74501          Salt Lake City   ...          200567
71563                  Frisco   ...          200490
46814                 Yonkers   ...          200370
71203                Amarillo   ...          199371
3036         Huntington Beach   ...          199223
72738                McKinney   ...          199177
955                Montgomery   ...          198525
58798                   Akron   ...          197597
1956              Little Rock   ...          197312
1535                    Tempe   ...          195805
23313           Overland Park   ...          195494
71603           Grand Prairie   ...          194543
5404              Tallahassee   ...          194500
5682               Cape Coral   ...          194495
280                    Mobile   ...          188720
70420               Knoxville   ...          187603
26850              Shreveport   ...          187112
28873               Worcester   ...          185428
3727                  Ontario   ...          185010
76295               Vancouver   ...          184463
68198             Sioux Falls   ...          183793
70811             Chattanooga   ...          182799
72629             Brownsville   ...          182781
5503          Fort Lauderdale   ...          182437
67251              Providence   ...          179883
75444            Newport News   ...          179225
3728         Rancho Cucamonga   ...          177603
3867               Santa Rosa   ...          176753
1511                   Peoria   ...          175961
3145                Oceanside   ...          175742
2977                Elk Grove   ...          174775
61063                   Salem   ...          174365
5342           Pembroke Pines   ...          173591
61269                  Eugene   ...          172622
3632             Garden Grove   ...          171644
4017             Fort Collins   ...          170243
3677                   Corona   ...          169868
39611             Springfield   ...          167882
38147                 Jackson   ...          160628
75902              Alexandria   ...          159428
3341                  Hayward   ...          159203
70313             Clarksville   ...          158146
4396                 Lakewood   ...          157935
3068                Lancaster   ...          157601
3213                  Salinas   ...          155465
3156                 Palmdale   ...          155079
5190                Hollywood   ...          154817
3825                Sunnyvale   ...          152703
3179                   Pomona   ...          151691
72476                 Killeen   ...          151666
3745                Escondido   ...          151625
73219                Pasadena   ...          151227
8758               Naperville   ...          148449
75991                Bellevue   ...          148164
8533                   Joliet   ...          147344
71064            Murfreesboro   ...          146900
71887                 Midland   ...          146038
8956                 Rockford   ...          145609
45700                Paterson   ...          145233
6674                 Savannah   ...          144464
4666               Bridgeport   ...          144399
3550                 Torrance   ...          143592
73305                 McAllen   ...          143268
46743                Syracuse   ...          142327
1533                 Surprise   ...          141664
71468                  Denton   ...          141541
3209                Roseville   ...          141500
4176                 Thornton   ...          141464
5288                  Miramar   ...          141191
71884                Mesquite   ...          140937
21697                  Olathe   ...          140545
54113                  Dayton   ...          140407
71359              Carrollton   ...          139248
72328                    Waco   ...          139236
3148                   Orange   ...          138669
3004                Fullerton   ...          138632
67324              Charleston   ...          137566
74730        West Valley City   ...          135248
3900                  Visalia   ...          134605
5157              Gainesville   ...          133997
31123                  Warren   ...          133943
5499            Coral Springs   ...          133759
19243            Cedar Rapids   ...          133562
72134              Round Rock   ...          133372
31120        Sterling Heights   ...          132438
76385                    Kent   ...          132319
67333                Columbia   ...          131674
3242              Santa Clara   ...          130365
4820                New Haven   ...          130250
4647                 Stamford   ...          129638

[199 rows x 6 columns]

In [224]:
df.loc[15545, 'city'] = 'Indianapolis'

In [225]:
df[:50]

                    city  ... popestimate2019
46586          New York   ...         8336817
3092        Los Angeles   ...         3979576
10149           Chicago   ...         2693976
71676           Houston   ...         2320268
1512            Phoenix   ...         1680992
62144      Philadelphia   ...         1584064
72152       San Antonio   ...         1547253
3221          San Diego   ...         1423851
71452            Dallas   ...         1343573
3229           San Jose   ...         1021795
71233            Austin   ...          978908
5565       Jacksonville   ...          911507
71555        Fort Worth   ...          909585
54085          Columbus   ...          898553
15885      Indianapolis   ...          886220
49728         Charlotte   ...          885708
3224      San Francisco   ...          881549
15545       Indianapolis  ...          876384
76194           Seattle   ...          753675
3994             Denver   ...          727211
5034         Washington   ...          705749
28796            Boston   ...          692600
72979           El Paso   ...          681728
29002           Detroit   ...          670031
59893     Oklahoma City   ...          655057
61045          Portland   ...          654741
43999         Las Vegas   ...          651319
71087           Memphis   ...          651073
28329         Baltimore   ...          593490
79648         Milwaukee   ...          590157
45938       Albuquerque   ...          560513
1638             Tucson   ...          548073
3003             Fresno   ...          531576
1502               Mesa   ...          518012
3706         Sacramento   ...          513624
6025            Atlanta   ...          506811
39247       Kansas City   ...          495327
3978   Colorado Springs   ...          478221
42320             Omaha   ...          478192
50028           Raleigh   ...          474069
5278              Miami   ...          467963
3087         Long Beach   ...          462628
75970    Virginia Beach   ...          449974
3143            Oakland   ...          433031
33087       Minneapolis   ...          429606
60028             Tulsa   ...          401190
5628              Tampa   ...          399700
71225         Arlington   ...          398854
27154       New Orleans   ...          390144
21879           Wichita   ...          389938

[50 rows x 6 columns]