<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/rourke_struthers/Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/1b/29/185269dbd2e2698c8098b35c52ce73a2c52cf76163e709f9f7789d03ebbb/Quandl-3.5.2-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.5.2

In [2]:
pip install plotly-express

Collecting plotly-express
  Downloading https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (0.10.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.18.5)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (1.0.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (0.5.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from plotly-express) (4.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly-express) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly-express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->plotly-express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.1.0->plotly-express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [3]:
# PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import quandl

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# API Key
quandl.ApiConfig.api_key = 'db1wD3BsXUWh1FzuYCNQ'

In [5]:
# # Getting tables from Quandl
# data = quandl.get_table('ZILLOW/DATA', 
#                         indicator_id=['Z1BR', 'Z2BR', 'Z3BR', 'Z4BR', 'Z5BR'], 
#                         region_id='54720')


data = quandl.get_table('ZILLOW/DATA', region_id='54720', paginate=True)
indicators = quandl.get_table('ZILLOW/INDICATORS', paginate=True)
regions = quandl.get_table('ZILLOW/REGIONS', paginate=True)

In [6]:
data.to_csv('albany_data.csv')
indicators.to_csv('zillow_indicator_data.csv')
regions.to_csv('zillow_regions_data.csv')

In [7]:
## Reading in the CSVs
data = pd.read_csv('albany_data.csv')
indicators = pd.read_csv('zillow_indicator_data.csv')
regions = pd.read_csv('zillow_regions_data.csv')

In [8]:
print(data.shape)
data.head()

(1267, 5)

   None indicator_id  region_id        date     value
0     0         ZSFH      54720  2020-07-31  107974.0
1     1         ZSFH      54720  2020-06-30  107587.0
2     2         ZSFH      54720  2020-05-31  107089.0
3     3         ZSFH      54720  2020-04-30  107268.0
4     4         ZSFH      54720  2020-03-31  106962.0

In [9]:
print(indicators.shape)
indicators

(56, 4)

    None  ...             category
0      0  ...          Home values
1      1  ...          Home values
2      2  ...          Home values
3      3  ...          Home values
4      4  ...          Home values
5      5  ...          Home values
6      6  ...          Home values
7      7  ...          Home values
8      8  ...          Home values
9      9  ...          Home values
10    10  ...  Inventory and sales
11    11  ...  Inventory and sales
12    12  ...  Inventory and sales
13    13  ...  Inventory and sales
14    14  ...  Inventory and sales
15    15  ...  Inventory and sales
16    16  ...  Inventory and sales
17    17  ...  Inventory and sales
18    18  ...  Inventory and sales
19    19  ...  Inventory and sales
20    20  ...  Inventory and sales
21    21  ...  Inventory and sales
22    22  ...              Rentals
23    23  ...              Rentals
24    24  ...  Inventory and sales
25    25  ...  Inventory and sales
26    26  ...  Inventory and sales
27    27  ...  Inventory and sales
28    28  ...  Inventory and sales
29    29  ...  Inventory and sales
30    30  ...  Inventory and sales
31    31  ...  Inventory and sales
32    32  ...  Inventory and sales
33    33  ...  Inventory and sales
34    34  ...  Inventory and sales
35    35  ...  Inventory and sales
36    36  ...  Inventory and sales
37    37  ...  Inventory and sales
38    38  ...  Inventory and sales
39    39  ...  Inventory and sales
40    40  ...  Inventory and sales
41    41  ...  Inventory and sales
42    42  ...  Inventory and sales
43    43  ...  Inventory and sales
44    44  ...  Inventory and sales
45    45  ...  Inventory and sales
46    46  ...  Inventory and sales
47    47  ...  Inventory and sales
48    48  ...  Inventory and sales
49    49  ...  Inventory and sales
50    50  ...  Inventory and sales
51    51  ...  Inventory and sales
52    52  ...  Inventory and sales
53    53  ...  Inventory and sales
54    54  ...  Inventory and sales
55    55  ...  Inventory and sales

[56 rows x 4 columns]

In [10]:
print(data['indicator_id'].value_counts())
print('---')
print(data['indicator_id'].value_counts(normalize=True))

ZABT    151
Z2BR    151
ZATT    151
Z5BR    151
Z4BR    151
Z3BR    130
ZSFH    130
ZALL    130
Z1BR    122
Name: indicator_id, dtype: int64
---
ZABT    0.119179
Z2BR    0.119179
ZATT    0.119179
Z5BR    0.119179
Z4BR    0.119179
Z3BR    0.102605
ZSFH    0.102605
ZALL    0.102605
Z1BR    0.096290
Name: indicator_id, dtype: float64

In [11]:
print("Category Distribution:")
print(indicators['category'].value_counts())
print("---")
print("Category Distribution Normalized:")
print(indicators['category'].value_counts(normalize=True))

Category Distribution:
Inventory and sales    44
Home values            10
Rentals                 2
Name: category, dtype: int64
---
Category Distribution Normalized:
Inventory and sales    0.785714
Home values            0.178571
Rentals                0.035714
Name: category, dtype: float64

In [12]:
indicators.columns

Index(['None', 'indicator_id', 'indicator', 'category'], dtype='object')

In [13]:
indicators_pt = pd.pivot(indicators, columns='category', index='indicator_id')

In [14]:
indicators_pt

                    None  ...                                          indicator
category     Home values  ...                                            Rentals
indicator_id              ...
CRAM                 NaN  ...                                                NaN
CRAW                 NaN  ...                                                NaN
CRSM                 NaN  ...                                                NaN
CRSW                 NaN  ...                                                NaN
CSAM                 NaN  ...                                                NaN
CSAW                 NaN  ...                                                NaN
CSSM                 NaN  ...                                                NaN
CSSW                 NaN  ...                                                NaN
IRAM                 NaN  ...                                                NaN
IRAW                 NaN  ...                                                NaN
IRSM                 NaN  ...                                                NaN
IRSW                 NaN  ...                                                NaN
ISAM                 NaN  ...                                                NaN
ISAW                 NaN  ...                                                NaN
ISSM                 NaN  ...                                                NaN
ISSW                 NaN  ...                                                NaN
LRAM                 NaN  ...                                                NaN
LRAW                 NaN  ...                                                NaN
LRSM                 NaN  ...                                                NaN
LRSW                 NaN  ...                                                NaN
LSAM                 NaN  ...                                                NaN
LSAW                 NaN  ...                                                NaN
LSSM                 NaN  ...                                                NaN
LSSW                 NaN  ...                                                NaN
MRAM                 NaN  ...                                                NaN
MRAW                 NaN  ...                                                NaN
MSAM                 NaN  ...                                                NaN
MSAW                 NaN  ...                                                NaN
NRAM                 NaN  ...                                                NaN
NRAW                 NaN  ...                                                NaN
NSAM                 NaN  ...                                                NaN
NSAW                 NaN  ...                                                NaN
RSNA                 NaN  ...  ZORI (Smoothed): All Homes Plus Multifamily Ti...
RSSA                 NaN  ...  ZORI (Smoothed, Seasonally Adjusted): All Home...
SAAM                 NaN  ...                                                NaN
SAAW                 NaN  ...                                                NaN
SASM                 NaN  ...                                                NaN
SASW                 NaN  ...                                                NaN
SRAM                 NaN  ...                                                NaN
SRAW                 NaN  ...                                                NaN
SRSM                 NaN  ...                                                NaN
SRSW                 NaN  ...                                                NaN
SSAM                 NaN  ...                                                NaN
SSAW                 NaN  ...                                                NaN
SSSM                 NaN  ...                                                NaN
SSSW                 NaN  ...                                                NaN
Z1BR                 9.0  ...                                                NaN
Z2BR                 8.0  ...                                                NaN
Z3BR                 7.0  ...                                                NaN
Z4BR                 6.0  ...                                                NaN
Z5BR                 5.0  ...                                                NaN
ZABT                 4.0  ...                                                NaN
ZALL                 3.0  ...                                                NaN
ZATT                 2.0  ...                                                NaN
ZCON                 1.0  ...                                                NaN
ZSFH                 0.0  ...                                                NaN

[56 rows x 6 columns]

# Regions

In [15]:
regions

        None  ...                                           region
0          0  ...   98847; WA; Wenatchee; Chelan County; Peshastin
1          1  ...              98846; WA; Okanogan County; Pateros
2          2  ...  98845; WA; Wenatchee; Douglas County; Palisades
3          3  ...             98844; WA; Okanogan County; Oroville
4          4  ...     98843; WA; Wenatchee; Douglas County; Orondo
...      ...  ...                                              ...
78372  78372  ...      98848; WA; Moses Lake; Grant County; Quincy
78373  78373  ...                  Bloomington; MD; Garrett County
78374  78374  ...                      Echols County; GA; Valdosta
78375  78375  ...               Bibb County; AL; Birmingham-Hoover
78376  78376  ...                                     Colorado; CO

[78377 rows x 4 columns]

In [16]:
print(regions['region_type'].value_counts())
print('---')
print(regions['region_type'].value_counts(normalize=True))

zip       30794
city      27204
neigh     16550
county     2863
metro       915
state        51
Name: region_type, dtype: int64
---
zip       0.392896
city      0.347092
neigh     0.211159
county    0.036529
metro     0.011674
state     0.000651
Name: region_type, dtype: float64

In [17]:
region_type_specific_data = {}

for t in regions['region_type'].unique():
  if t in ['city','county', 'metro', 'state']:
    rtype = regions[regions['region_type'] == t]
    print(t)
    print('---')
    print(rtype[:5])
    print('\n')
    region_type_specific_data[t] = rtype

city
---
     None  ...                                             region
10     10  ...  Carrsville; VA; Virginia Beach-Norfolk-Newport...
20     20  ...     Birchleaf; VA; Big Stone Gap; Dickenson County
56     56  ...                Wright; KS; Dodge City; Ford County
123   123  ...  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
166   166  ...  South Wilmington; IL; Chicago-Naperville-Elgin...

[5 rows x 4 columns]


county
---
     None  region_id region_type                                 region
94     94        999      county  Durham County; NC; Durham-Chapel Hill
167   167        998      county                      Duplin County; NC
244   244        997      county              Dubois County; IN; Jasper
398   398        995      county                      Donley County; TX
585   585        993      county                      Dimmit County; TX


state
---
        None  region_id region_type             region
7241    7241          9       state     California; CA
15472  15472          8       state        Arizona; AZ
33788  33788         62       state        Wyoming; WY
34274  34274         61       state  West Virginia; WV
35087  35087         60       state      Wisconsin; WI


metro
---
        None  region_id region_type                               region
22719  22719     753929       metro                       Zapata, TX; TX
22720  22720     753928       metro  Wisconsin Rapids-Marshfield, WI; WI
22721  22721     753927       metro                   Winnemucca, NV; NV
22722  22722     753926       metro                  Weatherford, OK; OK
22723  22723     753925       metro               Vineyard Haven, MA; MA

In [18]:
for i in region_type_specific_data:
  print(i)

city
county
state
metro

In [19]:
for i in region_type_specific_data:
  print(i)
  print('---')
  print(region_type_specific_data[i])
  print('\n')

city
---
        None  ...                                             region
10        10  ...  Carrsville; VA; Virginia Beach-Norfolk-Newport...
20        20  ...     Birchleaf; VA; Big Stone Gap; Dickenson County
56        56  ...                Wright; KS; Dodge City; Ford County
123      123  ...  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
166      166  ...  South Wilmington; IL; Chicago-Naperville-Elgin...
...      ...  ...                                                ...
78267  78267  ...                        Audubon; IA; Audubon County
78297  78297  ...  Bound Brook; NJ; New York-Newark-Jersey City; ...
78327  78327  ...                         Chanute; KS; Neosho County
78363  78363  ...  Blountsville; AL; Birmingham-Hoover; Blount Co...
78373  78373  ...                    Bloomington; MD; Garrett County

[27204 rows x 4 columns]


county
---
        None  region_id region_type                                     region
94        94        999      county      Durham County; NC; Durham-Chapel Hill
167      167        998      county                          Duplin County; NC
244      244        997      county                  Dubois County; IN; Jasper
398      398        995      county                          Donley County; TX
585      585        993      county                          Dimmit County; TX
...      ...        ...         ...                                        ...
78144  78144       1003      county              Elmore County; AL; Montgomery
78195  78195       1002      county                          Elbert County; GA
78277  78277       1001      county  Elbert County; CO; Denver-Aurora-Lakewood
78374  78374       1000      county                Echols County; GA; Valdosta
78375  78375        100      county         Bibb County; AL; Birmingham-Hoover

[2863 rows x 4 columns]


state
---
        None  region_id region_type                    region
7241    7241          9       state            California; CA
15472  15472          8       state               Arizona; AZ
33788  33788         62       state               Wyoming; WY
34274  34274         61       state         West Virginia; WV
35087  35087         60       state             Wisconsin; WI
35088  35088          6       state              Arkansas; AR
35954  35954         59       state            Washington; WA
36646  36646         58       state               Vermont; VT
37363  37363         56       state              Virginia; VA
37870  37870         55       state                  Utah; UT
38351  38351         54       state                 Texas; TX
38878  38878         53       state             Tennessee; TN
39398  39398         52       state          South Dakota; SD
39911  39911         51       state        South Carolina; SC
40434  40434         50       state          Rhode Island; RI
41910  41910         47       state          Pennsylvania; PA
42426  42426         46       state                Oregon; OR
42974  42974         45       state              Oklahoma; OK
43483  43483         44       state                  Ohio; OH
43992  43992         43       state              New York; NY
44658  44658         42       state                Nevada; NV
47197  47197         41       state            New Mexico; NM
48094  48094         40       state            New Jersey; NJ
48095  48095          4       state               Alabama; AL
51304  51304         39       state         New Hampshire; NH
51822  51822         38       state              Nebraska; NE
52358  52358         37       state          North Dakota; ND
52879  52879         36       state        North Carolina; NC
53365  53365         35       state               Montana; MT
54429  54429         34       state           Mississippi; MS
55515  55515         32       state              Missouri; MO
56091  56091         31       state             Minnesota; MN
56672  56672         30       state              Michigan; MI
56673  56673          3       state                Alaska; AK
57806  57806         28       state                 Maine; ME
62929  62929         27       state              Maryland; MD
65168  65168         26       state         Massachusetts; MA
66053  66053         25       state             Louisiana; LA
66908  66908         24       state              Kentucky; KY
67773  67773         23       state                Kansas; KS
68496  68496         22       state               Indiana; IN
69250  69250         21       state              Illinois; IL
70099  70099         20       state                 Idaho; ID
70912  70912         19       state                  Iowa; IA
71687  71687         18       state                Hawaii; HI
73109  73109         16       state               Georgia; GA
74528  74528         14       state               Florida; FL
75262  75262         13       state              Delaware; DE
76445  76445         12       state  District of Columbia; DC
77349  77349         11       state           Connecticut; CT
78376  78376         10       state              Colorado; CO


metro
---
        None  region_id region_type                               region
22719  22719     753929       metro                       Zapata, TX; TX
22720  22720     753928       metro  Wisconsin Rapids-Marshfield, WI; WI
22721  22721     753927       metro                   Winnemucca, NV; NV
22722  22722     753926       metro                  Weatherford, OK; OK
22723  22723     753925       metro               Vineyard Haven, MA; MA
...      ...        ...         ...                                  ...
51068  51068     394300       metro                          Ada, OK; OK
51070  51070     394299       metro                      Abilene, TX; TX
51071  51071     394298       metro                     Aberdeen, WA; WA
51072  51072     394297       metro                     Aberdeen, SD; SD
78004  78004     102001       metro                        United States

[915 rows x 4 columns]

# **REGIONS CLEANING**

In [20]:
# ## TOTAL PARTS: 8

# # PART 1:
# cities = regions[regions['region_type'] == 'city']
# cities.drop(columns=['None','region_type'], inplace=True)
# cities.reset_index(inplace=True)

# # PART 2:
# region_breakdown = cities['region'].str.split("; ", expand=True)
# region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

# # PART 3:
# region_id = cities.drop(columns=['index', 'region'])
# df = pd.concat([region_id, region_breakdown], axis=1)

# # PART 4:
# cols = ['city', 'state', 'region', 'county']
# df[cols] = df[cols].astype('string')

# # PART 5:
# psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')

# postals = list(psc_data['Postal'])
# states = list(psc_data['State'])
# capitals = list(psc_data['Capital'])

# capitals_postals_dict = dict(zip(capitals, postals))

# # PART 6:
# arr = []
# index = 0

# for i in df['city']:
#   if i in capitals_postals_dict:
#     if capitals_postals_dict[i] == df['state'][index]:
#       zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
#       arr.append(zipped)
#   index += 1

# print(len(arr))
# arr

# # PART 7:
# present_cities = []

# for lst in arr:
#   city = lst[0]
#   postal = lst[1]
#   # print(city, postal)
#   present_cities.append(city)

# print(len(present_cities))
# present_cities


# # PART 8:
# for i in capitals_postals_dict:
#   if i not in present_cities:
#     print(capitals_postals_dict[i])

In [21]:
## PART: 1
cities = regions[regions['region_type'] == 'city']
cities.drop(columns=['None','region_type'], inplace=True)
cities.reset_index(inplace=True)

print(cities.shape)
cities.head()

(27204, 3)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   index  region_id                                             region
0     10       9999  Carrsville; VA; Virginia Beach-Norfolk-Newport...
1     20       9998     Birchleaf; VA; Big Stone Gap; Dickenson County
2     56       9994                Wright; KS; Dodge City; Ford County
3    123       9987  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
4    166       9980  South Wilmington; IL; Chicago-Naperville-Elgin...

In [22]:
## PART: 2
region_breakdown = cities['region'].str.split("; ", expand=True)
region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

print(region_breakdown.shape)
region_breakdown.head()

(27204, 4)

               city  ...                county
0        Carrsville  ...  Isle of Wight County
1         Birchleaf  ...      Dickenson County
2            Wright  ...           Ford County
3            Weston  ...      Fairfield County
4  South Wilmington  ...         Grundy County

[5 rows x 4 columns]

In [23]:
## PART: 3
region_id = cities.drop(columns=['index', 'region'])
df = pd.concat([region_id, region_breakdown], axis=1)

print(df.shape)
df.head()

(27204, 5)

   region_id  ...                county
0       9999  ...  Isle of Wight County
1       9998  ...      Dickenson County
2       9994  ...           Ford County
3       9987  ...      Fairfield County
4       9980  ...         Grundy County

[5 rows x 5 columns]

In [24]:
df.dtypes

region_id     int64
city         object
state        object
region       object
county       object
dtype: object

In [25]:
## PART: 4
cols = ['city', 'state', 'region', 'county']
df[cols] = df[cols].astype('string')

df.dtypes

region_id     int64
city         string
state        string
region       string
county       string
dtype: object

In [26]:
df.head()

   region_id  ...                county
0       9999  ...  Isle of Wight County
1       9998  ...      Dickenson County
2       9994  ...           Ford County
3       9987  ...      Fairfield County
4       9980  ...         Grundy County

[5 rows x 5 columns]

In [28]:
## PART: 5
psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')
# psc_data

postals = list(psc_data['Postal'])
states = list(psc_data['State'])
capitals = list(psc_data['Capital'])
# print(len(postals), len(states), len(capitals))

capitals_postals_dict = dict(zip(capitals, postals))
capitals_postals_dict

{'Albany': 'NY',
 'Annapolis': 'MD',
 'Atlanta': 'GA',
 'Augusta': 'ME',
 'Austin': 'TX',
 'Baton Rouge': 'LA',
 'Bismarck': 'ND',
 'Boise': 'ID',
 'Boston': 'MA',
 'Carson City': 'NV',
 'Charleston': 'WV',
 'Cheyenne': 'WY',
 'Columbia': 'SC',
 'Columbus': 'OH',
 'Concord': 'NH',
 'Denver': 'CO',
 'Des Moines': 'IA',
 'Dover': 'DE',
 'Frankfort': 'KY',
 'Harrisburg': 'PA',
 'Hartford': 'CT',
 'Helena': 'MT',
 'Honolulu': 'HI',
 'Indianapolis': 'IN',
 'Jackson': 'MS',
 'Jefferson City': 'MO',
 'Juneau': 'AK',
 'Lansing': 'MI',
 'Lincoln': 'NE',
 'Little Rock': 'AR',
 'Madison': 'WI',
 'Montgomery': 'AL',
 'Montpelier': 'VT',
 'Nashville': 'TN',
 'Oklahoma City': 'OK',
 'Olympia': 'WA',
 'Phoenix': 'AZ',
 'Pierre': 'SD',
 'Providence': 'RI',
 'Raleigh': 'NC',
 'Richmond': 'VA',
 'Sacramento': 'CA',
 'Saint Paul': 'MN',
 'Salem': 'OR',
 'Salt Lake City': 'UT',
 'Santa Fe': 'NM',
 'Springfield': 'IL',
 'Tallahassee': 'FL',
 'Topeka': 'KS',
 'Trenton': 'NJ'}

In [29]:
## PART: 6

arr = []
index = 0

for i in df['city']:
  # print(i)
  if i in capitals_postals_dict:
    if capitals_postals_dict[i] == df['state'][index]:
      zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
      arr.append(zipped)
  index += 1

print(len(arr))
arr

50

[['Salt Lake City', 'UT', 6909],
 ['Richmond', 'VA', 6752],
 ['Pierre', 'SD', 6499],
 ['Nashville', 'TN', 6118],
 ['Springfield', 'IL', 54522],
 ['Raleigh', 'NC', 54047],
 ['Olympia', 'WA', 53718],
 ['Juneau', 'AK', 5365],
 ['Montpelier', 'VT', 53398],
 ['Little Rock', 'AR', 52998],
 ['Jefferson City', 'MO', 52683],
 ['Helena', 'MT', 52480],
 ['Hartford', 'CT', 5071],
 ['Tallahassee', 'FL', 47945],
 ['Cheyenne', 'WY', 44571],
 ['Boston', 'MA', 44269],
 ['Baton Rouge', 'LA', 44055],
 ['Columbia', 'SC', 4174],
 ['Trenton', 'NJ', 41279],
 ['Topeka', 'KS', 41256],
 ['Santa Fe', 'NM', 40760],
 ['Phoenix', 'AZ', 40326],
 ['Madison', 'WI', 398849],
 ['Lansing', 'MI', 398300],
 ['Concord', 'NH', 37995],
 ['Boise', 'ID', 3737],
 ['Atlanta', 'GA', 37211],
 ['Albany', 'NY', 37074],
 ['Oklahoma City', 'OK', 33225],
 ['Montgomery', 'AL', 32931],
 ['Lincoln', 'NE', 32503],
 ['Jackson', 'MS', 32179],
 ['Indianapolis', 'IN', 32149],
 ['Carson City', 'NV', 30772],
 ['Providence', 'RI', 26637],
 ['Salem', 'OR', 20317],
 ['Saint Paul', 'MN', 20313],
 ['Sacramento', 'CA', 20288],
 ['Honolulu', 'HI', 18615],
 ['Des Moines', 'IA', 17759],
 ['Charleston', 'WV', 17394],
 ['Bismarck', 'ND', 17040],
 ['Augusta', 'ME', 16840],
 ['Annapolis', 'MD', 16773],
 ['Harrisburg', 'PA', 11817],
 ['Frankfort', 'KY', 11520],
 ['Dover', 'DE', 11141],
 ['Denver', 'CO', 11093],
 ['Columbus', 'OH', 10920],
 ['Austin', 'TX', 10221]]

In [30]:
## PART: 7

present_cities = []

for lst in arr:
  city = lst[0]
  postal = lst[1]
  # print(city, postal)
  present_cities.append(city)

print(len(present_cities))
present_cities

50

['Salt Lake City',
 'Richmond',
 'Pierre',
 'Nashville',
 'Springfield',
 'Raleigh',
 'Olympia',
 'Juneau',
 'Montpelier',
 'Little Rock',
 'Jefferson City',
 'Helena',
 'Hartford',
 'Tallahassee',
 'Cheyenne',
 'Boston',
 'Baton Rouge',
 'Columbia',
 'Trenton',
 'Topeka',
 'Santa Fe',
 'Phoenix',
 'Madison',
 'Lansing',
 'Concord',
 'Boise',
 'Atlanta',
 'Albany',
 'Oklahoma City',
 'Montgomery',
 'Lincoln',
 'Jackson',
 'Indianapolis',
 'Carson City',
 'Providence',
 'Salem',
 'Saint Paul',
 'Sacramento',
 'Honolulu',
 'Des Moines',
 'Charleston',
 'Bismarck',
 'Augusta',
 'Annapolis',
 'Harrisburg',
 'Frankfort',
 'Dover',
 'Denver',
 'Columbus',
 'Austin']

In [31]:
## PART: 8

for i in capitals_postals_dict:
  # print(capitals_postal_dict[i])
  if i not in present_cities:
    print(capitals_postals_dict[i])

In [37]:
## WRANGLE FUNCTION: 

def wrangle(regions):
  # COPY
  regions = regions.copy()
  
  # PART 1:
  cities = regions[regions['region_type'] == 'city']
  cities.drop(columns=['None','region_type'], inplace=True)
  cities.reset_index(inplace=True)

  # PART 2:
  region_breakdown = cities['region'].str.split("; ", expand=True)
  region_breakdown = region_breakdown.rename(columns={0:'city', 1:'state', 2:'region', 3:'county'})

  # PART 3:
  region_id = cities.drop(columns=['index', 'region'])
  df = pd.concat([region_id, region_breakdown], axis=1)

  # PART 4:
  cols = ['city', 'state', 'region', 'county']
  df[cols] = df[cols].astype('string')

  # PART 5:
  psc_data = pd.read_csv('Postal_States_Capitals_CSV.csv')

  postals = list(psc_data['Postal'])
  states = list(psc_data['State'])
  capitals = list(psc_data['Capital'])
  print("Postals Length:", len(postals)) 
  print("States Length:", len(states))
  print("Capitals Length:", len(capitals))
  print("---")

  capitals_postals_dict = dict(zip(capitals, postals))

  # PART 6:
  arr = []
  index = 0

  for i in df['city']:
    if i in capitals_postals_dict:
      if capitals_postals_dict[i] == df['state'][index]:
        zipped = [i, capitals_postals_dict[i], df['region_id'][index]]
        arr.append(zipped)
    index += 1

  print("Arr Length:", len(arr))
  print("---")
  # arr

  # PART 7:
  present_cities = []

  for lst in arr:
    city = lst[0]
    postal = lst[1]
    # print(city, postal)
    present_cities.append(city)

  print("Present_Cities Length:", len(present_cities))
  # present_cities

  # PART 8:
  for i in capitals_postals_dict:
    if i not in present_cities:
      print("NOT in df:", capitals_postals_dict[i])

  return arr, present_cities

arr, present_cities = wrangle(regions)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Postals Length: 50
States Length: 50
Capitals Length: 50
---
Arr Length: 50
---
Present_Cities Length: 50

In [34]:
arr

[['Salt Lake City', 'UT', 6909],
 ['Richmond', 'VA', 6752],
 ['Pierre', 'SD', 6499],
 ['Nashville', 'TN', 6118],
 ['Springfield', 'IL', 54522],
 ['Raleigh', 'NC', 54047],
 ['Olympia', 'WA', 53718],
 ['Juneau', 'AK', 5365],
 ['Montpelier', 'VT', 53398],
 ['Little Rock', 'AR', 52998],
 ['Jefferson City', 'MO', 52683],
 ['Helena', 'MT', 52480],
 ['Hartford', 'CT', 5071],
 ['Tallahassee', 'FL', 47945],
 ['Cheyenne', 'WY', 44571],
 ['Boston', 'MA', 44269],
 ['Baton Rouge', 'LA', 44055],
 ['Columbia', 'SC', 4174],
 ['Trenton', 'NJ', 41279],
 ['Topeka', 'KS', 41256],
 ['Santa Fe', 'NM', 40760],
 ['Phoenix', 'AZ', 40326],
 ['Madison', 'WI', 398849],
 ['Lansing', 'MI', 398300],
 ['Concord', 'NH', 37995],
 ['Boise', 'ID', 3737],
 ['Atlanta', 'GA', 37211],
 ['Albany', 'NY', 37074],
 ['Oklahoma City', 'OK', 33225],
 ['Montgomery', 'AL', 32931],
 ['Lincoln', 'NE', 32503],
 ['Jackson', 'MS', 32179],
 ['Indianapolis', 'IN', 32149],
 ['Carson City', 'NV', 30772],
 ['Providence', 'RI', 26637],
 ['Salem', 'OR', 20317],
 ['Saint Paul', 'MN', 20313],
 ['Sacramento', 'CA', 20288],
 ['Honolulu', 'HI', 18615],
 ['Des Moines', 'IA', 17759],
 ['Charleston', 'WV', 17394],
 ['Bismarck', 'ND', 17040],
 ['Augusta', 'ME', 16840],
 ['Annapolis', 'MD', 16773],
 ['Harrisburg', 'PA', 11817],
 ['Frankfort', 'KY', 11520],
 ['Dover', 'DE', 11141],
 ['Denver', 'CO', 11093],
 ['Columbus', 'OH', 10920],
 ['Austin', 'TX', 10221]]